@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto','Open Sans', sans-serif;
    color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}
main {
    margin: 100px 0 100px 0;
}
hr {
    border-color: white;
}

.navbar {
    z-index: 1;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.nav-item .dropdown-menu {
    display: none;
    margin-top: 0;
}
.nav-item:hover .nav-link {
    color: #fff;
}
.nav-link, .dropdown-item {
    color: #b1b1b1;
}

/*Background Color*/
body, .navbar, .dropdown-menu, tbody, tr, option {
    background-color: #000000
}

input[type="search"] {
    background-color: #000000;
    color: #ffffff;
}
input[type="search"]:focus {
        background-color: #000000;
        color: #ffffff;
}

.input-group {
    z-index: 0;
}

/*Title Deatils Banner*/
#banner {
    margin: 0;
    padding: 0;
    height: 75vh;
    background: transparent;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-fade {
    position: inherit;
    height: inherit;
    width: 100%;
    z-index: 1;
    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%), linear-gradient(180deg, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
}
.vertical-center {
    height: inherit;
    display: flex;
    align-items: center;
}
/*---------------*/

::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
}

row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}
row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_posters::-webkit-scrollbar {
    display: none;
}
.row_poster:hover {
    transform: scale(1.08);
}
.row_posterLarge {
    max-height: 250px;
}
.row_posterLarge:hover {
    transform: scale(1.09);
}
.custom-nav-img {
    max-height: 2em;
}

.ui-autocomplete {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #2b2b2b;
    color: #ffffff;
} 

select:disabled {
        border-color: #B1B1B1;
    }

